@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-stack: "Montserrat", sans-serif;
$light: #fff;
$dark: #333;
$primary: #178;
$highlight: lighten($primary, 10);
$muted: #999;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid;
}

body,
html {
  font-family: $font-stack;
  color: $dark;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $highlight;
  text-decoration: none;
}

.book-list {
  padding: 1em;
  max-width: 45em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;

  hr {
    border: none;
    height: 1px;
    background-color: $muted;
  }
}

.book-article {
  padding: 1em;
  min-height: 8em;
  margin: 0.5em 0;
  display: flex;

  .book-cover {
    width: 25%;
    height: auto;
    max-height: 100%;
  }

  .book-details {
    margin: 0 1em;
    width: 100%;
  }

  .book-title {
    color: $primary;
  }
}

.hero {
  position: relative;
  min-height: 30em;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("https://source.unsplash.com/YLSwjSy7stw/1920x1080");

  .search-area {
    padding: 1em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30em;
    text-align: center;
    background-color: $light;

    input {
      display: block;
      width: 100%;
      margin: 0.5em 0;
    }

    .btn {
      background-color: $primary;
      color: $light;
      border: none;
      border-radius: 1em;
      padding: 0.5em 1em;
      margin: 0.5em 0;
    }

    .btn:hover {
      background-color: $highlight;
    }

    .search-subtitle {
      color: $muted;
      padding: 1em;
    }
  }
}

.no-results {
  margin: 2em;
  text-align: center;
}
